
.nav-color{
    background-color: rgba(0, 0, 0, 0.751);
    
}

.color-white{
    color: white;

}

.backgrnd{
    height: 500px;
    background: linear-gradient(to right,rgba(0, 0, 0, 0.348),rgba(0, 0, 0, 0.381) ) ,url(bg1.jpg);
    background-repeat: no-repeat;
    background-position: top;
  
}

.big_man_text{
    color: white;
    font-weight: bold;
    font-size: 40px;
    letter-spacing: 2px;
}

.nor_text{
    color: white;
}

.btn-outline-secondary{
    border-color: white;
    color: white;
}

.diamond{
    color: white;
}


@media (max-width:992px) {

    .backgrnd{  
        height: 700px;
        background-size: cover
    } 
}


@media (max-width:769px) {

    .backgrnd{  
        height: 750px;
        background-size: cover
    } 

    
}


@media (max-width:769px) {


    .mbile{
        padding-top: 60%;
    }
}


.text-color{
    color: gray;
}

.font-size{
    font-size: 26px;
}

.bg-success{
    background-color: gray !important;
    border-radius: 0 !important;
}

.bar{
    border-radius: 0 !important;
    height: 20px;
    border: solid 2px black;
}

.bglaptop{
    height: 400px;
    background: linear-gradient(rgba(0, 0, 0, 0.329),rgba(0, 0, 0, 0.444)), url(laptop.jpg);
    background-size: cover;
}

@media (max-width:992px) {

    .bglaptop{  
        height: 400px;
        background-size: cover
    } 
}


@media (max-width:769px) {

    .bglaptop{  
        height: 500px;
        background-size: cover
    } 

    
}

.factback{
    height: 450px;
    background: linear-gradient(209deg, rgba(0,0,0,0.7234244039412641) 0%, rgba(0,0,0,0.8354692218684349) 43%), url(bg2.jpg);
    background-size: cover;
}


@media (max-width:992px) {

    .factback{  
        height: 600px;
        background-size: cover;
    } 
}


@media (max-width:769px) {

    .factback{  
        height: 700px;
        background-size: cover;
      

    } 

    
}

@media (max-width:576px) {

    .factback{  
        height: 1000px;
        background-size: cover;
      

    } 

    
}
.bor{
    border: solid 1px;
    width: 130px;
    height: 130px;
    padding: 5px;
    transform: rotate(45deg);
}
.react{
    border: solid 3px black;
  
    width: 120px;
    height: 120px;
    overflow: hidden;
  
    transform: rotate(-90deg);
}

.react img{
   
    width: 200px;
    top: 50%;
    left: 55%;
    transform: translate(-50%,-50%) rotate(45deg);
}

